th, tr {
  text-align: center;
}

/* Admin page sidebar */
.quick-panel {
  text-align: center;
  opacity: 0.9;
}
.quick-panel h4 {
  display: inline;
}
.quick-panel i {
  color: #5ac1de;
  font-size: 50px;
}
.quick-panel:hover {
  opacity: 1;
}
.quick-panel .badge {
  font-size: 20px;
  background-color: #fff !important;
  color: #000;
}
.quick-panel .panel-footer {
  background-color: #5ac1de;
  color: #fff;
}
.table-bg {
  background-color: #5ac1de;
  color: #fff;
}
/* Navbar */
.navbar {
  border-radius: 0 !important;
}

.nav-ico {
  display: block;
  height: 100px;
  width: 100px;
}

/* Public page */
.bg-img {
  background-color: #5ac1de;
  color: #fff;
  width: 100%;
}

.bg-img h1 {
  font-size: 70px;
  font-weight: bold;
  height: auto
}

.information {
  margin-top: 20px;
}

/* Login page */
.panel-bg {
  background-color: rgba(90,193,222,0.3) !important;
}
.logo1 {
  display: block;
  margin: auto;
}
